Part 2 LabWork 6.2/WSF_SimpleRESTClient_1/Service References/FlightsReference/FlightsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5921/FlightsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSimpleService" />
  <xs:element name="GetFlightTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlightTotalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfSimpleService" minOccurs="0" name="GetFlightDetailsResult" nillable="true" type="q1:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfSimpleService" minOccurs="0" name="_flight" nillable="true" type="q2:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaceFlightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>