Part 2 LabWork 6.2/WSF_SimpleRESTClient_1/Service References/FlightsReference/FlightsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlightsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5921/FlightsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5921/FlightsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5921/FlightsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfSimpleService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightsService_GetFlightTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightTotal" />
  </wsdl:message>
  <wsdl:message name="IFlightsService_GetFlightTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsService_GetFlightDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightDetails" />
  </wsdl:message>
  <wsdl:message name="IFlightsService_GetFlightDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsService_PlaceFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceFlight" />
  </wsdl:message>
  <wsdl:message name="IFlightsService_PlaceFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlightsService">
    <wsdl:operation name="GetFlightTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightsService/GetFlightTotal" message="tns:IFlightsService_GetFlightTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightsService/GetFlightTotalResponse" message="tns:IFlightsService_GetFlightTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightsService/GetFlightDetails" message="tns:IFlightsService_GetFlightDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightsService/GetFlightDetailsResponse" message="tns:IFlightsService_GetFlightDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaceFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightsService/PlaceFlight" message="tns:IFlightsService_PlaceFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightsService/PlaceFlightResponse" message="tns:IFlightsService_PlaceFlight_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="FlightsService" />
</wsdl:definitions>